* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
}

.postcard-body {
	display: flex;
	font-size: 1.2rem;
}

.postcard-body p {
	padding: 5px;
	margin: 0;
}

.postcard-body input {
	border-bottom: 1px solid grey;
}

.postcard-header h1 {
	margin: 0px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-footer {
	text-align: center;
	padding: 5px;
}

.postcard-footer button {
	background: rgb(87, 86, 85);
	padding: 5px 20px;
	color: white;
}
